.appContainer {
  display: grid;
  grid-template-columns: repeat(4, 25.2rem);
  grid-template-rows: 25rem 25rem;
  gap: 3rem;
  height: fit-content;
  width: 110rem;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .appContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: auto;
    padding: 4rem 2rem;
  }
}
