.outer_cell {
  background-repeat: no-repeat;
  background-position: right 2rem top -1rem;
  overflow: hidden;
  border-radius: var(--primary-br);
}

.inner_cell {
  margin-top: 4rem;
  padding: 3rem;
  background-color: var(--main-card-bg);
  border-radius: var(--primary-br);
  transition: all 0.3s;
}

.inner_cell:hover {
  background-color: var(--main-card-bg-hover);
}

.inner_cell__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.1rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.see_more_icon {
  height: 2.8rem;
  width: auto;
  stroke: var(--light-text);
  cursor: pointer;
  transition: all 0.3s;
}

.see_more_icon:hover {
  stroke: var(--white-text);
}

.current_hours {
  font-size: 5.5rem;
  font-weight: 200;
}

.previous_hours {
  color: var(--light-text);
}

@media (max-width: 1050px) {
  .outer_cell {
    height: fit-content;
  }

  .inner_cell__top {
    margin-bottom: 0;
  }

  .mobile_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .current_hours {
    font-size: 4.6rem;
  }
}
