:root {
  --app-bg: #0f1424;
  --main-card-bg: #1c1f4a;
  --dark-text: #6f76c8;
  --light-text: #bdc1ff;
  --report-for-bg: #5847eb;
  --work-bg: #ff8c66;
  --play-bg: #56c2e6;
  --study-bg: #ff5c7c;
  --exercise-bg: #4acf81;
  --social-bg: #7536d3;
  --self-care-bg: #f1c65b;

  --primary-font: "Rubic", sans-serif;
  --card-title-fs: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--app-bg);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
